/* FOOTER OPEN HERE */

.footer {
    padding-top: 50px;
    padding-bottom: 20px;
    @include laptops {
        padding-top: 80px;
    }
    background-color: $black;
    .fooBox {
        padding-bottom: 50px;
        h5 {
            color: $white4;
            font-weight: 500;
            margin-bottom: 20px;
        }
        ul {
            &.fooSoci {
                i {
                    color: $white;
                    font-size: 28px;
                        margin-right: 10px;
                }
            }
            li {
                a {
                    font-size: 16px;
                    display: block;
                    color: $white1;
                    line-height: 2;
                    text-decoration: none;
                    &:hover {
                        color: $color2;
                    }
                }
                p {
                    font-size: 16px;
                    display: block;
                    color: $white1;
                    line-height: 2;
                    text-decoration: none;
                    margin-bottom: 0;
                }
            }
        }
    }
    .copyright {
        text-align: center;
    }
}

#back_top {
    width: 50px;
    height: 50px;
    background-color: $white;
    position: fixed;
    bottom: 30px;
    right: 30px;
    border-radius: 50%;
    z-index: 99;
    box-shadow: 0 0 14px $color1;
    cursor: pointer;
    transform: scale(0, 0); 
    transition: transform 0.3s ease;
    span {
        width: 1px;
        height: 1px;
        display: block;
        border-bottom: 16px solid $color2;
        border-left: 8px solid transparent;
        border-right: 8px solid transparent;
        position: relative;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
    }
}

/* FOOTER CLOSE HERE */