/* ========================
    BUTTONS OPEN HERE
========================*/
/*FIRST BUTTON OPEN*/
.myBtn1 {
    display: inline-block;
    position: relative;
    color: $white;
    font-size: 16px;
    font-family: "montserrat";
    text-decoration: none;
    /* margin: 30px 0;
    border: 2px solid $color1; */
    padding: 8px 40px;
    overflow: hidden;
    -webkit-transition: all 0.6s ease;
    -o-transition: all 0.6s ease;
    transition: all 0.6s ease;
    background-color: $color1;
}

.myBtn1 span, .myBtn1 i {
    position: relative;
    z-index: 2;
    vertical-align: middle;
	@include transition (margin 0.4s ease-in-out);
}

.myBtn1:hover .fa-long-arrow-alt-right {
    margin-left: 8px;
}

.myBtn1:hover {
    color: $white;
    -webkit-box-shadow: 0 6px 6px rgba(0,0,0,0.15);
    box-shadow: 0 6px 6px rgba(0,0,0,0.15);
}

.myBtn1::before {
    background-color: $color3;
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    z-index: 1;
	@include transition (all 0.4s ease-in-out);
}

.myBtn1.btn1::before {
    width: 0%;
    height: 300%;
}

.myBtn1.btn1:hover::before {
    width: 100%;
}

.myBtn1.btn2::before {
    width: 100%;
    height: 0%;
}

.myBtn1.btn2:hover::before {
    height: 300%;
}

.myBtn1.btn3::before {
    width: 100%;
    height: 0%;
	@include transform(translate(-50%, -50%) rotate(45deg));
}

.myBtn1.btn3:hover::before {
    height: 600%;
}

.myBtn1.btn4::before {
    width: 100%;
    height: 0%;
	@include transform(translate(-50%, -50%) rotate(-45deg));
}

.myBtn1.btn4:hover::before {
    height: 600%;
}

/* SECOND BUTTONS OPEN*/

.myBtn2 {
    display: inline-block;
    position: relative;
    color: $white;
    font-size: 16px;
    font-family: "montserrat";
    text-decoration: none;
    /* margin: 30px 0;
    border: 2px solid $color1; */
    padding: 8px 40px;
    overflow: hidden;
    -webkit-transition: all 0.6s ease;
    -o-transition: all 0.6s ease;
    transition: all 0.6s ease;
    background-color: $color2;
}

.myBtn2 span, .myBtn2 i {
    position: relative;
    z-index: 2;
    vertical-align: middle;
	@include transition (margin 0.4s ease-in-out);
}

.myBtn2:hover .fa-long-arrow-alt-right {
    margin-left: 8px;
}

.myBtn2:hover {
    color: $white;
    -webkit-box-shadow: 0 6px 6px rgba(0,0,0,0.15);
    box-shadow: 0 6px 6px rgba(0,0,0,0.15);
}

.myBtn2::before {
    background-color: $color3;
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    z-index: 1;
	@include transition (all 0.4s ease-in-out);
}

.myBtn2.btn1::before {
    width: 0%;
    height: 300%;
}

.myBtn2.btn1:hover::before {
    width: 100%;
}

.myBtn2.btn2::before {
    width: 100%;
    height: 0%;
}

.myBtn2.btn2:hover::before {
    height: 300%;
}

.myBtn2.btn3::before {
    width: 100%;
    height: 0%;
	@include transform(translate(-50%, -50%) rotate(45deg));
}

.myBtn2.btn3:hover::before {
    height: 600%;
}

.myBtn2.btn4::before {
    width: 100%;
    height: 0%;
	@include transform(translate(-50%, -50%) rotate(-45deg));
}

.myBtn2.btn4:hover::before {
    height: 600%;
}

/*THIRD BUTTON OPEN*/

.myBtn3 {
    display: inline-block;
    position: relative;
    color: $white;
    font-size: 16px;
    font-family: "montserrat";
    text-decoration: none;
    /* margin: 30px 0;
    border: 2px solid $color1; */
    padding: 8px 40px;
    overflow: hidden;
	@include transition (all 0.6s);
    background-color: $color3;
}

.myBtn3 span, .myBtn3 i {
    position: relative;
    z-index: 2;
    vertical-align: middle;
	@include transition (margin 0.4s ease-in-out);
	
}

.myBtn3:hover .fa-long-arrow-alt-right {
    margin-left: 8px;
}

.myBtn3:hover {
    color: $white;
    -webkit-box-shadow: 0 6px 6px rgba(0,0,0,0.15);
    box-shadow: 0 6px 6px rgba(0,0,0,0.15);
}

.myBtn3::before {
    background-color: $color1;
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
	z-index: 1;
	@include transform(translate(-50%, -50%));
	@include transition (all 0.4s ease-in-out);
}

.myBtn3.btn1::before {
    width: 0%;
    height: 300%;
}

.myBtn3.btn1:hover::before {
    width: 100%;
}

.myBtn3.btn2::before {
    width: 100%;
    height: 0%;
}

.myBtn3.btn2:hover::before {
    height: 300%;
}

.myBtn3.btn3::before {
    width: 100%;
    height: 0%;
	@include transform(translate(-50%, -50%) rotate(45deg));
}

.myBtn3.btn3:hover::before {
    height: 600%;
}

.myBtn3.btn4::before {
    width: 100%;
    height: 0%;
	@include transform(translate(-50%, -50%) rotate(-45deg));
}

.myBtn3.btn4:hover::before {
    height: 600%;
}
/* ========================
    BUTTONS CLOSE HERE
========================*/