//FOR NUMBERING
.curPoi {
	cursor: pointer;
}

.poiEventNone {
	pointer-events: none;
}

.list-decimal{
	list-style-type:decimal !important;
}

.bottom-auto {
	bottom: auto !important;
}

.border-black {
  border-color: $black !important;
}

.border-left-8 {
	border-left: 8px solid $color1;
}

.border-bottom-8 {
	border-bottom: 8px solid $color1;
}

.border-w2 {
	border-width: 2px;
}

.mw-330 {
	max-width: 330px !important;
	width: 100%;
}

.h-76px {
	height: 76px !important;
}

.mw-358 {
	max-width: 358px !important;
	width: 100%;
}

.lh-1{
	line-height: 1 !important;
}

.lh-1-2{
	line-height: 1.2 !important;
}

.lh-1-3{
	line-height: 1.3 !important;
}

.lh-1-4{
	line-height: 1.4 !important;
}

.lh-1-5{
	line-height: 1.5 !important;
}

.lh-1-8{
	line-height: 1.8 !important;
}

.ls-n1 {
	letter-spacing: -1px !important;
}

.justify-content-evenly {
	-webkit-box-pack: space-evenly;
	-ms-flex-pack: space-evenly;
		justify-content: space-evenly;
}

.link-hyper {
	i {
		@extend %transition-ease;
	}
	&:hover {
		i {
			margin-left: 8px;
		}
	}
}

.text-black {
	color: $black !important;
	transition: color 0.3s ease-in-out;	
}

a.text-black:hover {
	color: $h-color1 !important;
	text-decoration-color: $color1;
}

.text-color1 {
	color: $color1 !important;
	transition: color 0.3s ease-in-out;	
}

a.text-color1:hover {
	color: $h-color1 !important;	
}

a.text-h-white:hover {
	color: $white !important;
}

.text-light-gray {
	color: $light-gray !important;
	transition: color 0.3s ease-in-out;	
}

.text-underline {
	text-decoration: underline !important;
}

.text-underline-3{
	text-decoration: underline $color1;
    -webkit-text-decoration: underline $color1;
	text-decoration-thickness: 3px;
}

a.text-underline-3:hover{
	text-decoration: underline $color1;
    -webkit-text-decoration: underline $color1;
	text-decoration-thickness: 3px;
}

.text-underline-8{
	text-decoration: underline $color1;
    -webkit-text-decoration: underline $color1;
	text-decoration-thickness: 8px;
}

a.text-underline-8:hover {
	text-decoration: underline $color1;
    -webkit-text-decoration: underline $color1;
	text-decoration-thickness: 8px;
}

.bg-color1{
	background-color: $color1 !important;
}

.bg-color3{
	background-color: $color3 !important;
}

.bg-color4{
	background-color: $color4 !important;
}

.bg-color5{
	background-color: $color5 !important;
}

.bg-light-gray {
	background-color: $light-gray !important;
}

.light-gray3 {
	background-color: $light-gray3 !important;
}

.light-gray4 {
	background-color: $light-gray4 !important;
}

.light-gray5, .bg-light-gray5 {
	background-color: $light-gray5 !important;
}

.bg-light-gray7 {
	background-color: $light-gray7 !important;
}

.bgClip-poly {
	@extend  %bgClip-poly;
}

.lighter-gray, .bg-lighter-gray {
	background-color: $lighter-gray !important;
}

.fs-14 {
	font-size: 14px !important;
}

.fs-16 {
	font-size: 16px !important;
}

.fs-20 {
	font-size: 20px !important;
}

.fs-22 {
	font-size: 22px !important;
}

.fs-24 {
	font-size: 24px !important;
}

.fs-26 {
	font-size: 26px !important;
}

.fs-28 {
	font-size: 28px !important;
}

.fs-30 {
	font-size: 30px !important;
}

.fs-32 {
	font-size: 32px !important;
}

.fs-34 {
	font-size: 34px !important;
}

.fs-36 {
	font-size: 36px !important;
}

.fs-40 {
	font-size: 40px !important;
}

.fs-50 {
	font-size: 50px !important;
}

.fs-60 {
	font-size: 60px !important;
}

.fs-110 {
	font-size: 110px !important;
}

//SEMI-BOLD
.fw-600 {
  font-weight: 600 !important;
}

//BOLD
.fw-700 {
	font-weight: 700 !important;
}

//EXTRA BOLD
.fw-800 {
	font-weight: 800 !important;
}

//BLACK
.fw-900 {
  font-weight: 900 !important;
}

.mt-30,
.my-30 {
	margin-top: 30px !important;
}

.mb-30,
.my-30 {
	margin-bottom: 30px !important;
}

.mt-35,
.my-35 {
	margin-top: 35px !important;
}

.mb-35,
.my-35 {
	margin-bottom: 35px !important;
}

.mt-40,
.my-40 {
	margin-top: 40px !important;
}

.mb-40,
.my-40 {
	margin-bottom: 40px !important;
}

.mt-50,
.my-50 {
	margin-top: 50px !important;
}

.mb-50,
.my-50 {
	margin-bottom: 50px !important;
}

.mt-60,
.my-60 {
	margin-top: 60px !important;
}

.mb-60,
.my-60 {
	margin-bottom: 60px !important;
}

.mt-70,
.my-70 {
	margin-top: 70px !important;
}

.mb-70,
.my-70 {
	margin-bottom: 70px !important;
}

.mt-100,
.my-100 {
	margin-top: 100px !important;
}

.mb-100,
.my-100 {
	margin-bottom: 100px !important;
}

.pt-18,
.py-18 {
	padding-top: 18px !important;
}

.pb-18,
.py-18 {
	padding-bottom: 18px !important;
}

.pl-20,
.px-20 {
	padding-left: 20px !important;
}

.pr-20,
.px-20 {
	padding-right: 20px !important;
}

.p-30 {
	padding: 30px !important;
}

.pt-30,
.py-30 {
	padding-top: 30px !important;
}

.pb-30,
.py-30 {
	padding-bottom: 30px !important;
}

.pl-30,
.px-30 {
	padding-left: 30px !important;
}

.pr-30,
.px-30 {
	padding-right: 30px !important;
}

.pt-40,
.py-40 {
	padding-top: 40px !important;
}

.pb-40,
.py-40 {
	padding-bottom: 40px !important;
}

.pl-40,
.px-40 {
	padding-left: 40px !important;
}

.pr-40,
.px-40 {
	padding-right: 40px !important;
}

.pt-50,
.py-50 {
	padding-top: 50px !important;
}

.pb-50,
.py-50 {
	padding-bottom: 50px !important;
}

.pt-60,
.py-60 {
	padding-top: 60px !important;
}

.pb-60,
.py-60 {
	padding-bottom: 60px !important;
}


/*@include phones {

}*/


@include tablets {
	.fs-md-18 {
		font-size: 18px !important;
	}
	
	.fs-md-20 {
		font-size: 20px !important;
	}
	
	.fs-md-22 {
		font-size: 22px !important;
	}
	
	.fs-md-28 {
		font-size: 28px !important;
	}
	
	.fs-md-60 {
		font-size: 60px !important;
	}
}

@include laptops {
	
	
	.w-lg-100{
		width: 100% !important;
	}
	
	.mw-lg-100{
		max-width: 100% !important;
		width: 100% !important;
	}
	
	.mw-lg-450 {
		max-width: 450px !important;
		width: 100%;
	}
	
	.mw-lg-162 {
		max-width: 162px;
	}
	
	.fs-lg-16 {
		font-size: 16px !important;
	}
	
	.fs-lg-20 {
		font-size: 20px !important;
	}
	
	.fs-lg-22 {
		font-size: 22px !important;
	}
	
	.fs-lg-24 {
		font-size: 24px !important;
	}
	
	.fs-lg-26 {
		font-size: 26px !important;
	}
	
	.fs-lg-28 {
		font-size: 28px !important;
	}
	
	.fs-lg-30 {
		font-size: 30px !important;
	}
	
	.fs-lg-32 {
		font-size: 32px !important;
	}
	
	.fs-lg-34 {
		font-size: 34px !important;
	}
	
	.fs-lg-36 {
		font-size: 36px !important;
	}
	
	.fs-lg-38 {
		font-size: 38px !important;
	}
	
	.fs-lg-40 {
		font-size: 40px !important;
	}
	
	.fs-lg-44 {
		font-size: 44px !important;
	}
	
	.fs-lg-46 {
		font-size: 46px !important;
	}
	
	.fs-lg-50 {
		font-size: 50px !important;
	}
	
	.fs-lg-60 {
		font-size: 60px !important;
	}
	
	.fs-lg-70 {
		font-size: 70px !important;
	}
	
	.fs-lg-96 {
		font-size: 96px !important;
	}
	
	.fs-lg-260 {
		font-size: 260px !important;
	}
	
	.mt-lg-30,
	.my-lg-30 {
    	margin-top: 30px !important;
	}
	
	.mb-lg-30,
	.my-lg-30 {
		margin-bottom: 30px !important;
	}
	
	.mt-lg-35,
	.my-lg-35 {
    	margin-top: 35px !important;
	}
	
	.mb-lg-35,
	.my-lg-35 {
		margin-bottom: 35px !important;
	}
	
	.mt-lg-40,
	.my-lg-40 {
    	margin-top: 40px !important;
	}
	
	.mb-lg-40,
	.my-lg-40 {
		margin-bottom: 40px !important;
	}
	
	.mt-lg-42,
	.my-lg-42 {
    	margin-top: 42px !important;
	}
	
	.mb-lg-42,
	.my-lg-42 {
		margin-bottom: 42px !important;
	}
	
	.mt-lg-50,
	.my-lg-50 {
    	margin-top: 50px !important;
	}
	
	.mb-lg-50,
	.my-lg-50 {
		margin-bottom: 50px !important;
	}
	
	.mt-lg-60,
	.my-lg-60 {
    	margin-top: 60px !important;
	}
	
	.mb-lg-60,
	.my-lg-60 {
		margin-bottom: 60px !important;
	}
	
	.mt-lg-70,
	.my-lg-70 {
    	margin-top: 70px !important;
	}
	
	.mb-lg-70,
	.my-lg-70 {
		margin-bottom: 70px !important;
	}
	
	.mt-lg-80,
	.my-lg-80 {
    	margin-top: 80px !important;
	}
	
	.mb-lg-80,
	.my-lg-80 {
		margin-bottom: 80px !important;
	}
	
	.mt-lg-90,
	.my-lg-90 {
    	margin-top: 90px !important;
	}
	
	.mb-lg-90,
	.my-lg-90 {
		margin-bottom: 90px !important;
	}
	
	.mt-lg-100,
	.my-lg-100 {
    	margin-top: 100px !important;
	}
	
	.mb-lg-100,
	.my-lg-100 {
		margin-bottom: 100px !important;
	}
	
	.mt-lg-128,
	.my-lg-128 {
    	margin-top: 128px !important;
	}
	
	.mb-lg-128,
	.my-lg-128 {
		margin-bottom: 128px !important;
	}
	
	.pt-lg-30,
	.py-lg-30 {
		padding-top: 30px !important;
	}

	.pb-lg-30,
	.py-lg-30 {
		padding-bottom: 30px !important;
	}
	
	.pl-lg-30,
	.px-lg-30 {
		padding-left: 30px !important;
	}

	.pr-lg-30,
	.px-lg-30 {
		padding-right: 30px !important;
	}
	
	.pt-lg-40,
	.py-lg-40 {
		padding-top: 40px !important;
	}

	.pb-lg-40,
	.py-lg-40 {
		padding-bottom: 40px !important;
	}
	
	.p-lg-45 {
		padding: 45px !important;
	}
	
	.pt-lg-50,
	.py-lg-50 {
		padding-top: 50px !important;
	}

	.pb-lg-50,
	.py-lg-50 {
		padding-bottom: 50px !important;
	}
	
	.pt-lg-60,
	.py-lg-60 {
		padding-top: 60px !important;
	}

	.pb-lg-60,
	.py-lg-60 {
		padding-bottom: 60px !important;
	}
	
	
	.pt-lg-70,
	.py-lg-70 {
		padding-top: 70px !important;
	}

	.pb-lg-70,
	.py-lg-70 {
		padding-bottom: 70px !important;
	}
	
	.pl-lg-80,
	.px-lg-80 {
		padding-left: 80px !important;
	}

	.pr-lg-80,
	.px-lg-80 {
		padding-right: 80px !important;
	}
	
	.pt-lg-80,
	.py-lg-80 {
		padding-top: 80px !important;
	}

	.pb-lg-80,
	.py-lg-80 {
		padding-bottom: 80px !important;
	}
	
	.pt-lg-90,
	.py-lg-90 {
		padding-top: 90px !important;
	}

	.pb-lg-90,
	.py-lg-90 {
		padding-bottom: 90px !important;
	}
	
	.pl-lg-90,
	.px-lg-90 {
		padding-left: 90px !important;
	}

	.pr-lg-90,
	.px-lg-90 {
		padding-right: 90px !important;
	}
	
	.pt-lg-100,
	.py-lg-100 {
		padding-top: 100px !important;
	}

	.pb-lg-100,
	.py-lg-100 {
		padding-bottom: 100px !important;
	}
	
	.pt-lg-110,
	.py-lg-110 {
		padding-top: 110px !important;
	}

	.pb-lg-110,
	.py-lg-110 {
		padding-bottom: 110px !important;
	}
	
	.pt-lg-120,
	.py-lg-120 {
		padding-top: 120px !important;
	}

	.pb-lg-120,
	.py-lg-120 {
		padding-bottom: 120px !important;
	}
	
}

@include large-desktops {
	.fs-ld-40 {
		font-size: 40px !important;
	}
	.fs-ld-60 {
		font-size: 60px !important;
	}
	
	.fs-ld-96 {
		font-size: 96px !important;
	}

	.offset-ld-0 {
		margin-left: 0;
	}

	.offset-ld-1 {
		margin-left: 8.333333%;
	}

	.offset-ld-2 {
		margin-left: 16.666667%;
	}

	.offset-ld-3 {
		margin-left: 25%;
	}

	.offset-ld-4 {
		margin-left: 33.333333%;
	}

	.offset-ld-5 {
		margin-left: 41.666667%;
	}

	.offset-ld-6 {
		margin-left: 50%;
	}

	.offset-ld-7 {
		margin-left: 58.333333%;
	}

	.offset-ld-8 {
		margin-left: 66.666667%;
	}

	.offset-ld-9 {
		margin-left: 75%;
	}

	.offset-ld-10 {
		margin-left: 83.333333%;
	}

	.offset-ld-11 {
		margin-left: 91.666667%;
	}
	
	.col-ld-auto {
		-ms-flex: 0 0 auto;
		flex: 0 0 auto;
		width: auto;
		max-width: 100%;
	}

	.col-ld-1 {
		-ms-flex: 0 0 8.333333%;
		flex: 0 0 8.333333%;
		max-width: 8.333333%;
	}

	.col-ld-2 {
		-ms-flex: 0 0 16.666667%;
		flex: 0 0 16.666667%;
		max-width: 16.666667%;
	}

	.col-ld-3 {
		-ms-flex: 0 0 25%;
		flex: 0 0 25%;
		max-width: 25%;
	}

	.col-ld-4 {
		-ms-flex: 0 0 33.333333%;
		flex: 0 0 33.333333%;
		max-width: 33.333333%;
	}

	.col-ld-5 {
		-ms-flex: 0 0 41.666667%;
		flex: 0 0 41.666667%;
		max-width: 41.666667%;
	}

	.col-ld-6 {
		-ms-flex: 0 0 50%;
		flex: 0 0 50%;
		max-width: 50%;
	}

	.col-ld-7 {
		-ms-flex: 0 0 58.333333%;
		flex: 0 0 58.333333%;
		max-width: 58.333333%;
	}

	.col-ld-8 {
		-ms-flex: 0 0 66.666667%;
		flex: 0 0 66.666667%;
		max-width: 66.666667%;
	}

	.col-ld-9 {
		-ms-flex: 0 0 75%;
		flex: 0 0 75%;
		max-width: 75%;
	}

	.col-ld-10 {
		-ms-flex: 0 0 83.333333%;
		flex: 0 0 83.333333%;
		max-width: 83.333333%;
	}

	.col-ld-11 {
		-ms-flex: 0 0 91.666667%;
		flex: 0 0 91.666667%;
		max-width: 91.666667%;
	}

	.col-ld-12 {
		-ms-flex: 0 0 100%;
		flex: 0 0 100%;
		max-width: 100%;
	}
}