*, ul, li {
	margin: 0;
	padding: 0;
	list-style: none;
}

::selection {
	color: $white;
	background-color: $color1;
}

a {
	&:hover {
		color: $color1;
	}
}

html, body {
	font-size: 18px;
	color: $black1;
	font-family: 'Poppins', sans-serif;
	scroll-behavior: smooth;
	line-height: 1.6;
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
	letter-spacing: -1px;
	font-weight: 700;
	line-height: 1;
}

@include large-desktops {
	.container, .container-sm, .container-md, .container-lg, .container-xl, .container-ld {
		max-width: 1440px;
	}
}